/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navbar {
		border: 3px solid red;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.navbar {
		border: 3px solid orange;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.navbar {
		border: 3px solid green;
		padding: 10px;
		height: 50px;
	}
	
	.SCtitle {
		float: right;
		padding: 15px 0px;
		font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.navbar {
		border: 3px solid blue;
	}
	
	.SCtitle {
		padding: 12px 0px;
		font-size: 24px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.navbar {
		border: 3px solid purple;
	}
	
	.SCtitle {
		padding: 19px 0px;
		font-size: 28px;
    }
}

body {
	margin: 0;
}

.navbar {
	background: linear-gradient(45deg, #C8102E, black);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li {
	display: inline-block;
}

.isulogo {
	filter: brightness(0) invert(1);
}

.SCtitle a {
	color: white;
	text-decoration: none;
	font-family: Nimbus Sans, sans-serif;
	font-weight: bold;
}
